.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    background: var(--color-dark);
    color: var(--color-white);
    padding: 3rem;
    border: .2rem solid var(--color-golden);
    outline: .5rem solid var(--color-dark);
  }